@page "/ListadoSiniestros"
@inject listarSiniestroUseCase ListarSiniestros
@inject NavigationManager Navegador

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Poliza</th>
            <th>FECHA DE INGRESO</th>
            <th>FECHA DE OCURRENCIA</th>
            <th>DIRRECCION DE HECHO</th>
            <th>DESCRIPCION DE ACCIDENTE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pol in _lista)
        {
            <tr>
                <td>@pol.Id</td>
                <td>@pol.polizaid</td>
                <td>@pol.FechaIngreso</td>
                <td>@pol.FechaOcurrencia</td>
                <td>@pol.DireccionHecho</td>
                <td>@pol.DescAccidente</td>
            </tr>
        }
    </tbody>
</table>

<style>
#agg{
    border-color :black;
}
#eli{
    background-color:red;
    border-color: black;
}
#mod{
    background-color: green;
    border-color:black;
}
</style>

<button id="agg" class="btn btn-primary" @onclick="NavegarA">Agregar</button>
<button id="eli" class="btn btn-primary" @onclick="NavegarE">Eliminar</button>
<button id="mod" class="btn btn-primary" @onclick="NavegarM">Modificar</button>

@code {
    List<Siniestro> _lista = new List<Siniestro>();
    protected override void OnInitialized()
    {
        _lista = ListarSiniestros.Ejecutar();
    }

    void NavegarA(){
        Navegador.NavigateTo("/Siniestros/Agregar");
    }

    void NavegarE(){
        Navegador.NavigateTo("/Siniestros/Eliminar");
    }

    void NavegarM(){
        Navegador.NavigateTo("/Siniestros/Modificar");
    }
}
